
body {
	font-family: system-ui, sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

.section-header {
	max-width: 600px;
	text-wrap: balance;
	margin-block: 50px 30px;
	margin-inline: auto;
	text-align: center;
}

/* Stiluri minime pentru galerie */
.product-gallery {
	width: 100%;
	max-width: 600px;
	margin: auto;
	margin-block: 2rem;
	overflow: hidden;
}

.swiper {
	--aspect-ratio: 16 / 10; /* Definește aspectul dorit (ex. 16:9 pentru landscape) */
	position: relative;
}

.swiper.swiper-2 {
	--aspect-ratio: 16/10;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  flex: 0 0 auto;
  width: 100%; /* Asigură lățimea corectă */
  aspect-ratio: var(--aspect-ratio); /* Setează aspectul uniform */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Poți folosi `contain` dacă vrei ca toată imaginea să fie vizibilă */
}

.swiper-button-next, 
.swiper-button-prev {
	color: white; /* Arrows color */
}

/* Arrows size */
.swiper-button-next::after, 
.swiper-button-prev::after {
	font-size: 2.5rem;
}

.pswp__icn-shadow {
	--pswp-icon-stroke-color: #FFF;
	/* --pswp-icon-stroke-width: 0; */
	stroke: var(--pswp-icon-stroke-color);
	stroke-width: var(--pswp-icon-stroke-width);
}

.swiper-pagination-bullet {
	--bullet-size: 14px;
	--swiper-pagination-bullet-width: var(--bullet-size);
	--swiper-pagination-bullet-height: var(--bullet-size);
	--swiper-pagination-bullet-inactive-color: #FFF;
	--swiper-pagination-bullet-inactive-opacity: .6;
	width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
	height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
	background: var(--swiper-pagination-bullet-inactive-color, #000);
	opacity: var(--swiper-pagination-bullet-inactive-opacity, .2);
	border: 2px solid rgba(255,255,255, .2);
}

.swiper-pagination-bullet-active {
	--swiper-pagination-color: var(--swiper-pagination-bullet-inactive-color);
	--swiper-pagination-bullet-opacity: 1;
	
	opacity: var(--swiper-pagination-bullet-opacity, 1);
	background: var(--swiper-pagination-color, var(--swiper-theme-color));
	border: 2px solid rgba(255,255,255, 1);
}

/* Slider: Doar Swiper, fara Photoswipe */

.product-gallery-2 {
	max-width: 900px;
	margin-inline: auto;
	margin-block: 2rem;
	overflow: hidden;
}

/* Full Slider */

.product-gallery-3 {
	max-width: 100%;
	margin-inline: auto;
	margin-block: 2rem;
	overflow: hidden;
}

.swiper.swiper-3 {
	--aspect-ratio: auto;
}

/* Gallery: Doar Photoswipe */

.gallery {
	max-width: 900px;
	margin-inline: auto;
	margin-bottom: 50px;
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 1.5rem;
}

.gallery a {
	display: block;
	position: relative;
	overflow: hidden;
}

.gallery a img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	aspect-ratio: 3/2;
	object-position: center;
}